@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: auto !important;
}

body {
  font-size: 16px;
  font-family: "Cuprum", sans-serif;
  max-width: 562px;
  margin: 0 auto;
}

a {
  text-decoration: inherit;
  color: initial;
  cursor: pointer;
}

.container {
  padding: 24px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
